body {
    font-family: 'Arial', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  header {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 50px 20px;
  
    .reg {
      background-color: #ffffffa8 !important;
    }
  
    .header-container {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      max-width: 1200px;
      margin: 0 auto;
    }
  
    .logo img {
      max-width: 100%;
      height: auto;
    }
  
    nav {
      ul {
        list-style: none;
        display: flex;
  
        li {
          margin-right: 20px;
          font-weight: bold;
          text-transform: uppercase;
          cursor: pointer;
  
          a {
            text-decoration: none;
            color: #fff;
          }
        }
      }
    }
  
    .buttons {
      button {
        margin-left: 10px;
        padding: 10px 15px;
        border: none;
        cursor: pointer;
        color: #000;
        background-color: #fff;
        border-radius: 20px;
        // border: 2px solid #000; 
      }
    }
  }
  
  footer {
    background-color: rgba(0, 0, 0, 0.7);
    // Используем rgba для полупрозрачности
    color: #fff;
    padding: 20px;
  
    .footer-container {
      display: flex;
      justify-content: space-between;
      max-width: 1200px;
      margin: 0 auto;
  
      .contact-info,
      .quick-links,
      .additional-info {
        width: 30%;
        // Используем ширину в процентах
      }
  
      h2 {
        font-size: 18px;
        // Базовый размер шрифта
        margin-bottom: 15px;
      }
  
      p {
        font-size: 16px;
        margin-bottom: 10px;
        letter-spacing: 1px;
      }
  
      ul {
        list-style: none;
        padding: 0;
      }
  
      li {
        margin-bottom: 5px;
      }
  
      a {
        color: #fff;
        text-decoration: none;
        margin-bottom: 5px;
  
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  
  main {
    .courses {
        background-color: #f5f5f5;
        margin: 20px 0;
        padding: 50px 0;

        .courses-container {
            max-width: 1200px;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .course-info {
            display: flex;
    flex-direction: column;
    justify-content: space-between;
        }

        .course {
            text-align: center;
            padding: 20px;
            margin: 20px;
            width: 25%;
            height: 460px;
            background-color: white;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

            img {
                width: 100%;
                height: auto;
                border-radius: 8px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            }

            h1 {
                color: #333;
                font-size: 24px;
                margin-top: 10px;
            }

            p {
                color: #666;
                font-size: 16px;
                line-height: 1.6;
            }

            a {
                display: block;
                margin-top: 15px;
                color: #2196F3;
                text-decoration: none;
                font-weight: bold;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
