body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

header {
  padding: 50px 20px;
  background-color: black;
}

h1 {
  text-align: center;
}

header img {
  width: 100%;
}
.content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

ul {
  list-style: none;
  display: flex;
}
li {
  margin-right: 20px;
}
a {
  color: #fff;
}

img {
  width: 10%;
}

footer {
  background-color: black;
  color: #fff;
}

footer ul {
  display: block;
}

.footer {
  display: flex;
  justify-content: space-between;
}
