body {
  font-family: "Arial", sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

header {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 50px 20px;
}
header .reg {
  background-color: rgba(255, 255, 255, 0.6588235294) !important;
}
header .header-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
header .logo img {
  max-width: 100%;
  height: auto;
}
header nav ul {
  list-style: none;
  display: flex;
}
header nav ul li {
  margin-right: 20px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}
header nav ul li a {
  text-decoration: none;
  color: #fff;
}
header .buttons button {
  margin-left: 10px;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  color: #000;
  background-color: #fff;
  border-radius: 20px;
}

footer {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 20px;
}
footer .footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}
footer .footer-container .contact-info,
footer .footer-container .quick-links,
footer .footer-container .additional-info {
  width: 30%;
}
footer .footer-container h2 {
  font-size: 18px;
  margin-bottom: 15px;
}
footer .footer-container p {
  font-size: 16px;
  margin-bottom: 10px;
  letter-spacing: 1px;
}
footer .footer-container ul {
  list-style: none;
  padding: 0;
}
footer .footer-container li {
  margin-bottom: 5px;
}
footer .footer-container a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 5px;
}
footer .footer-container a:hover {
  text-decoration: underline;
}

main {
  background-color: #f5f5f5;
  padding: 50px 0;
}
main .p {
  margin-bottom: 130px !important;
}
main h1 {
  color: #333;
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
}
main h1 span {
  color: #4CAF50;
}
main p {
  color: #666;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
}
main .features {
  background-color: white;
  padding: 20px;
}
main .features h2 {
  color: #333;
  font-size: 28px;
  margin-bottom: 10px;
  text-align: center;
}
main .features h2 span {
  color: #4CAF50;
}
main .features p {
  color: #666;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
}
main .features .features-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1200px;
  margin: 20px auto;
}
main .features .features-container .left-container,
main .features .features-container .right-container {
  flex: 1;
}
main .features .features-container .left-container img,
main .features .features-container .right-container img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
main .features .features-container .right-container {
  text-align: center;
  padding: 0 20px;
}
main .features .features-container .right-container h3 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}
main .features .features-container .right-container h3 span {
  color: #4CAF50;
}
main .features .features-container .right-container .single-feat {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .features .features-container .right-container .single-feat .single-img img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
main .features .features-container .right-container .single-feat .single-img p {
  color: #666;
  font-size: 16px;
  line-height: 1.6;
}
main .interface,
main .tools,
main .one {
  background-color: white;
  margin: 120px 0;
  padding: 50px 0;
}
main .interface .interface-container,
main .interface .tools-container,
main .interface .one-container,
main .tools .interface-container,
main .tools .tools-container,
main .tools .one-container,
main .one .interface-container,
main .one .tools-container,
main .one .one-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
main .interface .left-container,
main .interface .right-container,
main .tools .left-container,
main .tools .right-container,
main .one .left-container,
main .one .right-container {
  flex: 1;
}
main .interface .left-container img,
main .interface .right-container img,
main .tools .left-container img,
main .tools .right-container img,
main .one .left-container img,
main .one .right-container img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
main .interface .right-container,
main .tools .right-container,
main .one .right-container {
  text-align: center;
  padding: 0 20px;
}
main .interface .right-container h1,
main .tools .right-container h1,
main .one .right-container h1 {
  color: #333;
  font-size: 36px;
  margin-bottom: 20px;
}
main .interface .right-container h1 span,
main .tools .right-container h1 span,
main .one .right-container h1 span {
  color: #4CAF50;
}
main .interface .right-container p,
main .tools .right-container p,
main .one .right-container p {
  color: #666;
  font-size: 18px;
  line-height: 1.6;
}
main .interface .right-container p.tools span,
main .tools .right-container p.tools span,
main .one .right-container p.tools span {
  color: #2196F3;
}/*# sourceMappingURL=students.css.map */